:root {
    --white: #ffffff;
    --silver-blue-color: #deecfd;
    --light-gray-blue-color: #f3f5fa;
    --bluish-blue-color: #6c86ad;
    --light-blue-color: #459bf7;

    --black: #06070b;
    --nav-blue-color: #141823;
    --dark-slate-blue: #182b46;
}
